<div class="content">
	<div class="individual-tasks individual-project">
		<figure>
		   <div class="info">
			{{#unless tasks}}
				<p class="no-tasks-warn">There are currently no tasks assigned to you.
				Please click below to add a task.
				</p>
			{{/unless}}
		       {{#each tasks}}
		       <div class="task">
		       	{{#if complete}}
		       <p class="taskname checked" data-id="{{_id}}">{{taskname}}</p>
		       {{else}}
		       <p class="taskname" data-id="{{_id}}">{{taskname}}</p>
		       {{/if}}	
		       <p class="task-description" data-id="{{_id}}">{{taskdescription}}</p>
			{{#if _project}}
		       <p class="project" data-id="{{_id}}">project: {{this._project.name}}</p>
		    {{/if}}

		    <div class="controls">
		       <p class="complete" data-id="{{_id}}">
       			{{#if complete}}
       				<input type="checkbox" id="complete" class="cBox" name="complete" data-id="{{_id}}" checked />
       			{{else}}
       				<input type="checkbox" id="complete" class="cBox" name="complete" data-id="{{_id}}" />
       		    {{/if}}					
		       </p>
		       <span class="delete" data-id="{{_id}}">&times;</span>
		   </div>
		   </div>
		       {{/each}}
<!-- 		      <input type="submit" class="save button" value="Save"> -->
		   		
		   		    <p class="project-add">&plus;</p>
		   			{{> add-task-form}}
		    </div>

		</figure>
	</div>
</div>


