<div class="content">
	<div class="individual-project">
		<figure>
		   <div class="info">
			   	<div class="description">
			   		<h3>Project description:</h3> 
			   		<p>{{project.description}}</p>
			   	</div>
			   	<h3>Tasks:</h3>
			   	{{#unless tasks}}
			   		<p class="no-tasks-warn">There are currently no tasks in this project.
			   		Please click below to add a task.
			   		</p>
			   	{{/unless}}
		       {{#each tasks}}
		       <div class="task">
		       	{{#if complete}}
		       	<p class="project-taskname checked" data-id="{{_id}}">{{taskname}}</p>
		       	{{else}}
		       	<p class="project-taskname" data-id="{{_id}}">{{taskname}}</p>
		       	{{/if}}
		       <p class="taskdescription">{{taskdescription}}</p>
				<p class="user">Assigned to: {{user}}</p>

		       <div class="controls">
		        <p class="project-complete" data-id="{{_id}}">
          			{{#if complete}}
          				<input type="checkbox" id="complete" class="cBox" name="complete" data-id="{{_id}}" checked />
          			{{else}}
          				<input type="checkbox" id="complete" class="cBox" name="complete" data-id="{{_id}}" />
          		    {{/if}}					
   		       </p>
		       <span class="project-task-delete" data-id="{{_id}}">&times;</span>
		       </div>
				</div>
		       {{/each}}
		   		
				    <div class="project-add">&plus;</div>
					{{> project-add-task-form}}
				<div class="project-delete">
					<span class="delete" data-id="{{_id}}">&times;</span>
				</div>
		            
		    </div>
		    
		</figure>
	</div>
</div>