<div class="content">
	<div class="individual-project">
		<figure>
		   <div class="info">
			   	<p class="description">Project description:<br/> {{project.description}}</p>
			   	<br/>
			   	<div class="task">
			   	<p>Tasks:</p>
		       {{#each tasks}}
		       <p class="project-taskname" data-id="{{_id}}">{{taskname}}</p>
		       <p class="taskdescription">{{taskdescription}}</p>
		       <!-- <p class="user">{{user}}</p> -->
		       <select>
				<option>{{user}}</option>
		       </select>
		       <p class="complete">complete: {{complete}}</p>
		       <span class="project-task-delete" data-id="{{_id}}">&times;</span>
		       {{/each}}
		   		</div>
				<br/>
				<br/>
		            
		    </div>
		    <p class="project-add">Add task</p>
			{{> project-add-task-form}}
		<div class="project-delete">
			<span class="delete" data-id="{{_id}}">&times;</span>
		</div>
		</figure>
	</div>
</div>