<div class="content">
	<div class="individual-project">
		<figure>
		   <div class="info">
			   	<p class="description">{{project.description}}</p>
		       {{#each project.tasks}}
		       <p class="taskname" data-pk="{{_id}}">{{taskname}}</p>
		       <p class="taskdescription">{{taskdescription}}</p>
		       <p class="user">{{user}}</p>
		       {{/each}}
		    </div>
			<a href="#">save</a>
		</figure>
	</div>
</div>


