<div class="content">
	<div class="projects">
	{{#each projects}}
		<figure>
		   <div class="info">
		       <header class="name">{{name}}</header>
		       <p class="description">{{description}}</p>
		       <div class="task-container">
		       	<p class="tasks-heading">Tasks:</p>
		       {{#each tasks}}
		       <p class="tasks">{{this.taskname}}</p>
		       <p class="user">{{this.user}}</p>
		       {{/each}}
		       </div>
		    </div>
			<a class="edit" href="/projects/{{id}}">
				<svg class="svg-icon" role="presentation" width="40" height="40">
			        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#more"></use>
			    </svg>
			</a>
		</figure>
	{{/each}}
	   <a href="/projects/new/" class="new-circle">
	       <p>+</p>
	   </a>
	</div>
</div>


