<h1>Projects</h1>

<div class="content">
	<ul class="items">
	{{#each projects}}
		<li>
			<div class="actions">
				<!-- <a href="/{{id}}/edit" class="edit button"></a>
				<span class="delete" data-id="{{id}}"></span> -->
			</div>
			<a href="/projects/{{id}}">
			   <div class="info">
			       <header class="name">{{name}}</header>
			       <p class="description">{{description}}</p>
			       <p class="tasks">{{tasks}}</p>
			    </div>
			<!-- </a> -->
		</li>
	{{/each}}	
	</ul>
</div>


